:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
}

.list {
  list-style: none;
}

.logo {
  color: var(--accent-color);
}

.site-nav .link {
  color: var(--primary-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}

.contact .link {
  color: var(--title-text-color);
}
.contact .link:hover,
.contact .link:focus {
  color: var(--accent-color);
}

.hero-title {
  color: var(--primary-bg-color);
}

.section-title {
  color: var(--primary-text-color);
}

.title {
  color: var(--title-text-color);
}

.text {
  color: var(--primary-bg-color);
}

.contact {
  color: var(--title-text-color);
}

.button {
  color: var(--primary-text-color);
  background-color: #f5f4fa;
}
